.vimond{
    .asset-form{
        form{
            padding: 10px;
        }
        img{
            padding: 10px;
            width: 500px;
            display: block;
        }
        .input-group{
            label{
                width: 150px;
                display: inline-block;
                vertical-align: top;
            }
            input, textarea{
                width: 346px;
            }
        }
    }
    .assets{
        .asset{
            width: 300px;
            height: 168.75px;
            background: black;
            &:hover{
                opacity: 0.6;
                cursor: pointer;
            }
            margin: 5px;
            display: inline-block;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            p{
                padding: 10px;
                position: absolute;
                top: 100px;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0, 0.7);
                color: white;
            }
        }
    }
}

